<!-- 
    File Name: services.ejs
    Student Name: Athithan Somascanthan
    StudentID: 301379331
    Date: 10.07.2023
-->

<%- include('partials/header') %>

<div class="py-20 px-4 bg-gradient-to-r from-blue-200 to-purple-300">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl mb-16 font-semibold text-gray-800 tracking-wider">Services I Offer</h2>

        <!--Heading 1 -->
        <h3 class="text-3xl mb-10 text-purple-700"></h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            
            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Web dev" class="object-cover w-full h-auto" src="/images/htmlcss.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:100%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Web Development</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Web dev" class="object-cover w-full h-auto" src="/images/htmlcss.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:100%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Web Development</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Web dev" class="object-cover w-full h-auto" src="/images/htmlcss.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:100%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Web Development</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Web dev" class="object-cover w-full h-auto" src="/images/htmlcss.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:100%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Web Development</span>
                </div>
            </div>
            
            

        </div>

        <!-- Line 2 -->
        <h3 class="text-3xl mt-20 mb-10 text-purple-700"></h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
           
            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Node JS" class="object-cover w-full h-auto" src="/images/nodejs.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:90%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Node JS</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Node JS" class="object-cover w-full h-auto" src="/images/nodejs.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:90%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Node JS</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Node JS" class="object-cover w-full h-auto" src="/images/nodejs.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:90%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Node JS</span>
                </div>
            </div>

            <!--Card -->
            <div class="flex flex-col gap-4 bg-white p-4 rounded-lg shadow-lg">
                <div class="rounded-lg overflow-hidden">
                    <a target="_blank" href="/">
                        <div class="relative aspect-video overflow-hidden">
                            <img alt="Node JS" class="object-cover w-full h-auto" src="/images/nodejs.webp">
                        </div>
                    </a>
                    <div class="bg-gray-200 h-2 ">
                        <div class="bg-green-500 h-2" style="width:90%;"></div>
                    </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Node JS</span>
                </div>
            </div>

        </div>

    
    </div>
</div>

<%- include('partials/footer') %>
